* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-image: url(https://kartinki.pics/uploads/posts/2021-07/1626741716_4-kartinkin-com-p-belii-fon-geometriya-krasivo-4.jpg);
    background-size: 1550px;
    background-color: lightgray;
    font-family:Arial Black, Helvetica, sans-serif;
    font-size: 19px;
    margin: 0 auto;
    padding: 0 auto;
    color: rgb(255, 255, 255);
}

.pointer{
    top: 0;
    left: 0;
    position: fixed;
    margin: 0, auto;
    padding: 0, auto;
    width: 100px;
    height: 100px;
    background-image:url(https://cdn-icons-png.flaticon.com/512/167/167713.png);
    background-size: 100px;
    pointer-events: none;
    z-index: 999;
}

#container {
    border-bottom-left-radius:120px;
    border-bottom-right-radius:120px;
    position: relative;
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
    background-color: rgb(93, 165, 165);
    min-height: 400px;
    height: auto;
    width: 500px;
}

button {
    background-color: rgb(66, 113, 113);
    border-radius: 20px;
    width: 160px;
    height: 40px;
    color: white;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family:Arial Black, Helvetica, sans-serif;
}

button:hover {
    cursor:pointer;
}

.mouseinfo {
    background-color: rgb(84, 150, 150);
    border-radius: 70px;
    width: 90%;
    padding-top: 10px;
}

.mouseinfo img {
    border-radius: 60px;
    width: 80%;
    margin: 20px;
}